{% if videoUrl != blank %}
    <div class="modal-video">
      <div class="modal-video__content">
        <button class="modal-video__content--close button-icon">{% render 'icon-close' %}</button>
        {% if videoType == 'youtube' %}
          <iframe
            src="https://www.youtube.com/embed/{{ videoId }}?enablejsapi=1{{ loop }}"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title=""
          ></iframe>
        {% else %}
          <iframe
            src="https://player.vimeo.com/video/{{ videoId }}{{ loop }}"
            class="js-vimeo"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title=""
          ></iframe>
          {% endif %}
      </div>
      </div>
{% endif %}