<modal-snippets class="modal-snippets">
    <div class="modal-snippets__wrapper">
        <button class="button-icon modal-snippets__close">
            {% render 'icon-close' %}
        </button>
        <div class="modal-snippets__content">
            Content......
        </div>
    </div>
</modal-snippets>