// Style global
@import 'variables';
@import 'responsive';
@import 'utils';

// Style section
@import './sections/header.scss';
@import './sections/banners.scss';
@import './sections/img-with-text.scss';
@import './sections/blog-post.scss';
@import './sections/logo-sellers.scss';
@import './sections/featured-collection.scss';
@import './sections/footer.scss';

// Style snippets
@import './snippets/header-section.scss';
@import './snippets/video.scss';
@import './snippets//back-to-top.scss';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  font-size: $font-size-base;
  line-height: 1.15;
  // Tối ưu hiển thị
  text-rendering: optimizeLegibility;
  color: $blue-003;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,
p {
  margin: 0;
  font-family: var(--font-heading-family);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: $h1-font-size-mobile;

  @include min-lg {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size-mobile;

  @include min-lg {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size-mobile;

  @include min-lg {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size-mobile;

  @include min-lg {
    font-size: $h4-font-size;
  }
}

h5 {
  font-size: $h5-font-size-mobile;

  @include min-lg {
    font-size: $h5-font-size;
  }
}

h6 {
  font-size: $h6-font-size-mobile;

  @include min-lg {
    font-size: $h6-font-size;
  }
}

.container {
    margin: 0px auto;
    padding: 0px 15px;
  
    @include min-sm {
      max-width: 540px;
    }

    @include min-lg {
      max-width: 720px;
    }
  
    @include min-lg {
      max-width: 960px;
    }
  
    @include min-xl {
      max-width: 1100px;
    }
  
    @include min-xxl {
      max-width: 1560px;
    }
}


.input-search {
  border: none;
  padding: 5px;

  &:focus-visible {
    outline: none;
  }
}




// --------
