@import 'variables';

// Style general
.button-icon {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;
}
  
.button {
  color: $gray-FDF;
  font-weight: $font-weight-black;
  border: none;
  padding: 14px 28px;
  border-radius: var(--buttons-radius);
  font-size: $font-size-base;
  
  &--secondary {
    background: $blue-003;
  }

  &--secondary-line {}
}
