// Color system
$white:    #fff;
$gray-100: #f5f5f7;
$gray-200: #e6e6e6;
$gray-300: #d8d8d8;
$gray-400: #ccc;
$gray-500: #acacac;
$gray-600: #707070;
$gray-700: #666;
$gray-800: #333;
$gray-900: #2a2a2a;
$gray-1000: #272727;
$black:    #000;


// Color
$gray-FDF: #FDFDFD;
$gray-CCD: #CCD1D2;
$gray-99A: #99A2A5;
$gray-667: #667479;
$gray-002: #002A48;
$gray-001: #00171F;
$gray-242: #242B33;
$blue-003: #003459;
$blue-00A: #00A7E7;
$red: #f00;
$yellow-FC: #FCEED5;


// Background header
$background-linear-gradient: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);


// Font size
$font-size-large:         1.8rem;
$font-size-base:          1.6rem;
$font-size-small:         1.4rem;
$font-size-smaller:       1.2rem;

$h1-font-size:            5.0rem;
$h2-font-size:            4.0rem;
$h3-font-size:            3.2rem;
$h4-font-size:            2.4rem;
$h5-font-size:            2.0rem;
$h6-font-size:            $font-size-large;

$h1-font-size-mobile:         2.8rem;
$h2-font-size-mobile:         2.4rem;
$h3-font-size-mobile:         2.0rem;
$h4-font-size-mobile:         $font-size-large;
$h5-font-size-mobile:         $font-size-base;
$h6-font-size-mobile:         $font-size-small;

// Font weight
$font-weight-lighter:     100;
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500; 
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-extra-bold:  800;
$font-weight-bolder:      900;