@import "../responsive.scss";
@import "../variables.scss";

.blogs-post {
    padding: 40px 0px 40px;
    
    @include min-lg {
      padding: 60px 0px 60px;
    }

    &__wrapper {}
  
    &__content {
  
      @include min-lg {
        margin: -10px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
      }
    }
  
    &__link {
      text-decoration: none;
      padding-bottom: 12px;
  
      &:last-child {
        padding-bottom: 20px;
      }
  
      @include min-lg {
        padding: 10px;
  
        &:last-child {
          padding-bottom: 10px;
        }
      }
  
  
      // @include min-lg {
      //   flex: 1;
      // }
    }
  
    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
  
      @include min-lg {
        display: none;
      }
  
      &--icon {
        display: contents;
      }
    }
  
    .item-post {
      padding: 8px;
      background: $white;
      box-shadow: 0px 4px 28px -2px #00000014;
      border-radius: 12px;
      min-height: 100%;
      display: block;

      &:hover {
        .item-post__img {
          img {
            transform: scale(1.1);
          }
        }
      }
  
      &__img {
        margin-bottom: 8px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-top: calc((243/364) * 100%);
  
        img {
          transition: all 0.3s ease-in-out;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      &__info {
        padding: 8px;
        
        &--date {
          display: block;
          color: $gray-242;
          font-size: 10px;
          line-height: 16px;
        }
        
        &--author {
          display: inline-block;
          background: $blue-00A;
          color: $gray-FDF;
          font-size: 10px;
          font-weight: $font-weight-bold;
          padding: 2px 10px;
          border-radius: 28px;
          margin-top: 5px;
          line-height: 16px;
        }
  
        &--title {
          color: $gray-001;
          font-weight: $font-weight-bold;
          font-size: $font-size-base;
          padding-top: 10px;
        }
  
        &--describe {
          padding-top: 6px;
          color: $gray-242;
          font-size: $font-size-small;
          line-height: 20px;
        }
      }
    }
  }