.img-with-text {    
    &__wrapper {
      position: relative;
      background: $background-linear-gradient;
      border-radius: 20px;
      overflow: hidden;
  
      @include min-lg {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
  
      &--reverse {
        @include min-lg {
          flex-direction: row-reverse;

          .img-with-text__content {
            text-align: right;
          }

          .img-with-text__content--link {
            justify-content: flex-end;
          }
        }
      }
    }
  
    &__content {
      padding: 35px 15px 25px;
      text-align: center;
  
      @include min-lg {
        width: 50%;
        padding: 64px 72px;
        text-align: left;
      }
  
      &--title {
        font-size: 36px;
        font-weight: $font-weight-extra-bold;
        color: $gray-002;
  
        @include min-lg {
          font-size: 52px;
        }
      }
      
      &--subTitle {
        font-size: 24px;
        font-weight: $font-weight-bold;
        color: $gray-002;
  
        @include min-lg {
          font-size: 36px;
        }
      }
  
      &--describe {
        font-size: $font-size-small;
        font-weight: $font-weight-medium;
        padding-top: 12px;
        color: $gray-242;
  
        @include min-lg {
          padding-top: 8px;
        }
      }
  
      &--link {
        padding-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        @include min-lg {
          padding-top: 24px;
          justify-content: flex-start;
        }
  
        .img-with-text-button {
          display: flex;
          align-items: center;
  
          &__name {
            padding-right: 8px;
          }
  
          &__icon {
            display: contents;
            svg {
              border: 1px solid $blue-003;
              border-radius: 50%;
            }
          }
        }
  
        .img-with-text-link {
          margin-left: 16px;
          
          @include min-lg {
            margin-left: 20px;
          }
        }
      }
    }
  
    &__img {
      @include min-lg {
        width: 50%;
      }
  
      img {
        width: 100%;
        height: auto;
      }
    }
}