.img-with-text {    
    &__wrapper {
      position: relative;
      background: $background-linear-gradient;
      border-radius: 20px;
      overflow: hidden;
  
      @include min-lg {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
  
      &--reverse {
        @include min-lg {
          flex-direction: row-reverse;

          .img-with-text__content {
            text-align: right;
          }

          .img-with-text__content--link {
            justify-content: flex-end;

            .img-with-text-button {
              margin-right: 0;
            }
    
            .img-with-text-link {
              margin-left: 20px;
            }
          }
        }

      }
    }
  
    &__content {
      padding: 40px 20px 23px;
      text-align: center;
  
      @include min-lg {
        width: 50%;
        padding: 64px 72px;
        text-align: left;
      }
  
      &--title {
        font-size: 36px;
        line-height: 54px;
        font-weight: $font-weight-extra-bold;
        color: $gray-002;
  
        @include min-lg {
          font-size: 52px;
          line-height: 68px;
        }
      }
      
      &--subTitle {
        padding-top: 2px;
        font-size: 24px;
        line-height: 36px;
        font-weight: $font-weight-bold;
        color: $gray-002;
  
        @include min-lg {
          font-size: 36px;
          line-height: 54px;
        }
      }
  
      &--describe {
        font-size: $font-size-small;  
        font-weight: $font-weight-medium;
        padding-top: 12px;
        line-height: 18px;
        color: $gray-242;
  
        @include min-lg {
          padding-top: 8px;
        }
      }
  
      &--link {
        padding-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
  
        @include min-lg {
          padding-top: 24px;
          justify-content: flex-start;
        }
  
        .img-with-text-button {
          display: flex;
          align-items: center;
          margin-top: 16px;
          margin-right: 16px;

          @include min-lg {
            margin-right: 20px;
          }
  
          &__name {
            padding-right: 8px;
          }
  
          &__icon {
            display: contents;
            svg {
              border: 1px solid $blue-003;
              border-radius: 50%;
            }
          }
        }
  
        .img-with-text-link {
          margin-top: 16px;
        }
      }
    }
  
    &__img {
      display: flex;
            
      @include min-lg {
        width: 50%;
      }

      &--end {
        align-self: flex-end;
      }

      &--top {
        align-self: flex-start;
      }

      &--center {
        align-self: center;
      }
  
      img {
        width: 100%;
        height: auto;
      }
    }
}