<div class="main-collection">
    <div class="container">Page collection</div>
</div>

{% schema %}
{
    "name": "Page collection",
    "tag": "section",
    "settings": [
        
        ]
}
{% endschema %}